.container {
    border: 1px solid #154374;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
   
 
  
  .Table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    border: 1px solid #154374; 
    background: #D0E4F5;
    text-align: center;
  }
  
  .Table th {
    background-color: #154374;
    color: white;
    padding: 10px;
    font-weight: normal;
    
    

    
  }
  
  .Table td {
    
    padding: 10px;
  }
  
  .Table tbody td {
    font-size: 13px;
  }
  
  
  
  .Table input[type="text"] {
    width: 75%;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #154374;
    border-radius: 4px;
  }
  
 



  
  